<a href="https://colab.research.google.com/github/Nosaybeh/ML-WITH-PYTHON-FINAL-ASSIGNMENT-Last-Checkpoint/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [1]:
#df = pd.read_csv('loan_train.csv')
#df.head()
#from google.colab import drive
#drive.mount("/content/gdrive")
#from google.colab import drive
#drive.mount("loan_train.csv")

In [4]:
from google.colab import files
#uploaded = files.upload('loan_train.csv')
import pandas as pd
#pd.read_csv('/My Drive/sample data/loan_train.csv')
from google.colab import files
uploaded = files.upload()

Saving loan_train.csv to loan_train.csv

In [5]:
pd.read_csv("loan_train.csv")

     Unnamed: 0  Unnamed: 0.1 loan_status  ...  age             education  Gender
0             0             0     PAIDOFF  ...   45  High School or Below    male
1             2             2     PAIDOFF  ...   33              Bechalor  female
2             3             3     PAIDOFF  ...   27               college    male
3             4             4     PAIDOFF  ...   28               college  female
4             6             6     PAIDOFF  ...   29               college    male
..          ...           ...         ...  ...  ...                   ...     ...
341         394           394  COLLECTION  ...   32  High School or Below    male
342         395           395  COLLECTION  ...   25  High School or Below    male
343         397           397  COLLECTION  ...   39               college    male
344         398           398  COLLECTION  ...   28               college    male
345         399           399  COLLECTION  ...   26               college    male

[346 rows x 10 columns]

In [7]:
#from google.colab import files
#files.download('loan_train.csv')

In [8]:
df = pd.read_csv('loan_train.csv')
df.head()

   Unnamed: 0  Unnamed: 0.1 loan_status  ...  age             education  Gender
0           0             0     PAIDOFF  ...   45  High School or Below    male
1           2             2     PAIDOFF  ...   33              Bechalor  female
2           3             3     PAIDOFF  ...   27               college    male
3           4             4     PAIDOFF  ...   28               college  female
4           6             6     PAIDOFF  ...   29               college    male

[5 rows x 10 columns]